@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:white;
    --secondary-color :#A21CAF;
    --gray-color:#374151;
    --off-white: #f6f8fa;

}


body{
    font-family: 'Montserrat', 'sans-serif';
    max-width: 600px;
    margin: auto;
}

.container-fluid{
    padding-left:1 rem;
    padding-right:1 rem;
}

.container-center{
    max-width: 600px;
    margin:auto;
}

.primary-link{
    padding-top: 2rem;
    background-color: var(--secondary-color);
    border-radius: 0.5rem;
    color: var( --primary-color);
}
.link{
    text-decoration:none;
    padding: 0.5rem 1rem;
}

.secondary-link{
    margin-top: 1rem;
    background-color:var( --primary-color);
    color: black;
    border: 1px solid var(--secondary-color);
    border-radius: 0.5rem;
}
hr{
    margin :2rem 0rem;
}

/* lists */

.list-non-bullet{
    list-style:none;
}

.list-item-inline{
 display:inline-block;
 padding :0rem 0.5rem;
}

 /* automatically adjust
.item-inline{
    display:inline-block;
    padding :0rem 0.5rem;
   }

   /* give break after every list item */
/* .item-inline{
    display:block;
    padding :0rem 0.5rem;
   } */ 


   .navigation{
       
    padding: 1rem 1rem 0rem 1rem;
       background-color: var(--secondary-color);
       color:white;
      
       border-bottom-left-radius: 10rem;
       border-top-right-radius: 10rem;
       padding-bottom: 0.25rem;
   
   }
 .navigation .nav-brand{
    
     font-weight: bold;
 }
   
   .navigation .link {
        display: inline-block;
       color:oldlace;
       padding: 0.5rem;
      
   }

   .nav-pills{
       text-align: right;
      
   }
    
   .navigation  .link-active{
    font-size: large;
    font-weight: bold;
   }


  .hero{
      padding :2rem;
  } 
  .hero .hero-img{
      max-width:400px;
      margin:auto;
      display:block;

  }
  .hero .hero-heading{
    color : var(--gray-color);
    text-align: center;
  }

  .hero .hero-heading .hero-inverted{
      color: var(--secondary-color);
  }
 
.section {
   padding: 2rem;
   margin: auto;

}
.section h1 {
    text-align: left;
}
.ow {
    background-color: var(--off-white);
}
.footer{
    background-color : var( --secondary-color);
    padding : 1rem 1rem;
    text-align :center; 
    color:white;
    margin : auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.footer-container{
    text-align :center; 
}
.footer .link{
    color:white;
    display: inline-block;
    padding-inline-start: 0px;
}
.para{
    text-align: center;
    font-size: large;
}
.c1{
 padding-bottom: 3rem;
}
 .heading{
     color: var(--secondary-color)
 }
 .heading-main{
    text-align: center;
    color: #374151;
 }

 .img{
    max-width: 400px;
    margin: auto;
    border-radius: 0.5rem;
}