@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:white;
    --secondary-color:rgb(23, 219, 5);
    --gray-color:#374151

}


body{
    font-family: 'Montserrat', 'sans-serif';
  
}

.container-fluid{
    padding-left:1 rem;
    padding-right:1 rem;
}

.container-center{
    max-width: 600px;
    margin:auto;
}

.primary-link{
    background-color: green;
    border-radius: 0.5rem;
    color: var( --primary-color);
}
.link{
    text-decoration:none;
    padding: 0.5rem 1rem;
}

.secondary-link{
    background-color:var( --primary-color);
    color: blue;
    border: 1px solid green;
    border-radius: 0.5rem;
}
hr{
    margin :2rem 0rem;
}

/* lists */

.list-non-bullet{
    list-style:none;
}

.list-item-inline{
 display:inline;
 padding :0rem 0.5rem;
}

 /* automatically adjust
.item-inline{
    display:inline-block;
    padding :0rem 0.5rem;
   }

   /* give break after every list item */
/* .item-inline{
    display:block;
    padding :0rem 0.5rem;
   } */ 


   .navigation{
       background-color: green;
       color:white;
       padding: 1rem;
       border-bottom-left-radius: 10rem;
       border-top-right-radius: 10rem;
   }
 .navigation .nav-brand{
     font-weight: bold;
 }
   
   .navigation .link {
       color:oldlace;
      
   }

   .nav-pills{
       text-align: right;
   }
    
   .navigation  .link-active{
    font-weight: bold;
   }


  .hero{
      padding :2rem;
  } 
  .hero .hero-img{
      max-width:400px;
      margin:auto;
      display:block;

  }
  .hero .hero-heading{
    color : var(--gray-color);
  }

  .hero .hero-heading .hero-inverted{
      color: var(--secondary-color);
  }
 
.section {
   padding:2rem
}
.section h2{
    text-align: center;
}
.footer{
    background-color : var( --secondary-color);
    padding : 1rem 1rem;
    text-align :center; 
    color:white;
}
.footer-container{
    text-align :center; 
}
.footer .link{
    color:white;
}